@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 40px;
  --footer-height: 95px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html {
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  color: #212121;
  font-family: Inter;
  min-height: 100vh;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-header {
  background-color: #ffffff;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
  color: black;
  padding: 2px 0;
  padding-top: calc(2px + env(safe-area-inset-top));
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: calc(var(--header-height) + env(safe-area-inset-top));
}

.header-add-button {
  position: absolute;
  top: calc(10px + env(safe-area-inset-top));
  right: 30px;
  cursor: pointer;
}

main {
  padding-top: calc(
    var(--header-height) + env(safe-area-inset-top)
  ); /* To prevent content being hidden behind the header */
  padding-bottom: calc(
    var(--footer-height) + env(safe-area-inset-bottom)
  ); /* To prevent content being hidden behind the footer */
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: visible;
  border-color: red;
}

.custom-footer {
  height: var(--footer-height);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 0.25em;
  padding-bottom: env(safe-area-inset-bottom);
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #37474f;
  color: white;
  align-items: center;
}

.footer-hex {
  position: relative;
  display: inline-block;
  align-self: center;
}

.footer-hexagon-svg {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.footer-hexagon-text {
  position: absolute;
  inset: 0; /* top/right/bottom/left = 0 */
  display: flex;
  align-items: center;
  /* align-self: center; */
  font-size: 32px;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 26px;
  font-weight: 700;
}

.customCard {
  background-color: #ffffff;
  padding: 15px 25px 15px 25px;
  border-radius: 15px;
  color: black;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-extra {
  overflow: hidden;
  transition: height 0.35s ease;
}

.custom-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #60583f;
  padding: 5px;
  border-width: 0;
  gap: 15px;
}

.custom-form fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.custom-form label {
  font-size: 15px;
  color: #60583f;
  width: 150px;
  text-align: right;
}

.custom-form input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  color: #60583f;
  box-shadow: 0 0 0 1px #60583f;
  height: 35px;
}

.custom-form input:focus {
  box-shadow: 0 0 0 2px #60583f;
}

.custom-form textarea {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  color: #60583f;
  box-shadow: 0 0 0 1px #60583f;
  height: 100px;
}

.custom-form textarea:focus {
  box-shadow: 0 0 0 2px #212121;
}

.custom-form button {
  border-radius: 5px;
  padding: 10px 0;
  background-color: #ffb300;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  cursor: pointer;
  color: white;
  text-align: center;
  align-self: center;
  width: 100%;
}

.custom-form select {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-color: rgb(148 163 184 / 0.3);
  border-radius: 4px;
  margin: 10px 0 0 0;
  font-size: 15px;
  color: #212121;
  box-shadow: 0 0 0 1px black;
  height: 35px;
  background-color: white;
}

.editButton {
  position: fixed;
  background-color: #94a3b8;
  color: white;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  bottom: 180px;
  right: 20px;
}

.doTaskSelect {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  color: rgb(70, 143, 70);
  box-shadow: 0 0 0 1px rgb(70, 143, 70);
  height: 35px;
  margin-bottom: 20px;
  padding: 10px;
}

.score-hex {
  position: relative;
  display: inline-block;
  align-self: center;
}

.hexagon-svg {
  width: 62px;
  height: 57px;
}

.hexagon-text {
  position: absolute;
  inset: 0; /* top/right/bottom/left = 0 */
  display: flex;
  align-items: center;
  /* align-self: center; */
  font-size: 32px;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
