@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --footer-height: 80px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: 700;
}

.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.customCard {
  background-color: wheat;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  color: black;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.taskForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

.taskForm input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.taskForm button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0070f3;
  font-size: 16px;
  cursor: pointer;
}

.custom-footer {
  height: var(--footer-height);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1em 0;
  text-align: center;
  border-top: 1px solid #eaeaea;
  gap: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.custom-footer-item {
  color: black;
  background-color: bisque;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

main {
  padding-bottom: var(--footer-height); /* To prevent content being hidden behind the footer */
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
