@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --footer-height: 80px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: 700;
}

.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.customCard {
  background-color: wheat;
  padding: 20px;
  border-radius: 10px;
  color: black;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.customForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  border-width: 0;
}

.customForm fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.customForm label {
  font-size: 15px;
  color: rgb(70, 143, 70);
  width: 90px;
  text-align: right;
}

.customForm input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  color: rgb(70, 143, 70);
  box-shadow: 0 0 0 1px rgb(70, 143, 70);
  height: 35px;
}

.customForm input:focus {
  box-shadow: 0 0 0 2px rgb(70, 143, 70);
}

.customForm button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(70, 143, 70);
  font-size: 16px;
  cursor: pointer;
  color: white;
  justify-content: center;
  display: inline-flex;
  align-self: flex-end;
  width: 100;
}

.custom-footer {
  height: var(--footer-height);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1em 0;
  text-align: center;
  border-top: 1px solid #eaeaea;
  gap: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: white;
}

.custom-footer-item {
  color: black;
  background-color: bisque;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

main {
  padding-bottom: var(
    --footer-height
  ); /* To prevent content being hidden behind the footer */
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  text-align: center;
}

.dialogDeleteButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.dialogDeleteButton:hover {
  background-color: darkred;
}

.dialogCancelButton {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.dialogCancelButton:hover {
  background-color: darkgray;
}

.editButton {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px; 
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 180px;
  right: 20px;
}


