@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --footer-height: 70px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: 700;
}

.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.customCard {
  background-color: #f9f3c9;
  padding: 15px 25px 15px 25px;
  border-radius: 15px;
  color: black;
  width: 100%;
}

.card-extra {
  overflow: hidden;
  transition: height 0.35s ease;
}

.custom-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  border-width: 0;
  gap: 15px;
}

.custom-form fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.custom-form label {
  font-size: 15px;
  color: rgb(70, 143, 70);
  width: 90px;
  text-align: right;
}

.custom-form input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  color: rgb(70, 143, 70);
  box-shadow: 0 0 0 1px rgb(70, 143, 70);
  height: 35px;
}

.custom-form input:focus {
  box-shadow: 0 0 0 2px rgb(70, 143, 70);
}

.custom-form button {
  border-radius: 5px;
  padding: 10px 0;
  background-color: #60583f;
  font-size: 16px;
  cursor: pointer;
  color: white;
  text-align: center;
  align-self: center;
  width: 100%;
}

.custom-form select {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 10px 0 0 0;
  font-size: 15px;
  color: rgb(70, 143, 70);
  box-shadow: 0 0 0 1px rgb(70, 143, 70);
  height: 35px;
  background-color: white;
}

.custom-header {
  background-color: #ffffff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
  color: black;
  padding: 1.5em 0 0.75em 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
}

.header-add-button {
  position: absolute;
  top: 42px;
  right: 30px;
  cursor: pointer;
}

.custom-footer {
  height: var(--footer-height);
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0.75em 0 1.25em 0;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #49452c;
  color: white;
  align-items: center;
}

.footer-hex {
  position: relative;
  display: inline-block;
  align-self: center;
}

.footer-hexagon-svg {
  width: 110px;
  height: 110px;
}

.footer-hexagon-text {
  position: absolute;
  inset: 0; /* top/right/bottom/left = 0 */
  display: flex;
  align-items: center;
  /* align-self: center; */
  font-size: 32px;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

main {
  padding-bottom: var(
    --footer-height
  ); /* To prevent content being hidden behind the footer */
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  text-align: center;
}

.dialogDeleteButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.dialogDeleteButton:hover {
  background-color: darkred;
}

.dialogCancelButton {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.dialogCancelButton:hover {
  background-color: darkgray;
}

.editButton {
  position: fixed;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  bottom: 180px;
  right: 20px;
}

.doTaskSelect {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  color: rgb(70, 143, 70);
  box-shadow: 0 0 0 1px rgb(70, 143, 70);
  height: 35px;
  margin-bottom: 20px;
  padding: 10px;
}

.score-hex {
  position: relative;
  display: inline-block;
  align-self: center;
}

.hexagon-svg {
  width: 62px;
  height: 57px;
}

.hexagon-text {
  position: absolute;
  inset: 0; /* top/right/bottom/left = 0 */
  display: flex;
  align-items: center;
  /* align-self: center; */
  font-size: 32px;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
